    body{
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
    }
    #game,#miniGame{
        position:absolute; top:0px; left:0px;
        border:1px solid green;
    }
    #game{
        border:1px solid red;
    }